body{
    font-size: 2em;
    background-color: lightgray;
}

header{
    background-color: black;
    color: rgb(224, 32, 18);
    text-align: center;
    padding: 2%;
}

h1{
    font-size: 3em;
}


main{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}


input{
    max-width: 75%;
}

h3{
    color: rgb(224, 32, 18);
}

#addedMessage{
    color: rgb(224, 32, 18);
}

.container{
    display: flex;
    justify-content: space-between;
}

.section{
    max-width: 40%;
    border: 1px solid white;
    padding: 2%;
}